.DS_Store
abfeda2b97425748d69be80636928325
https://s.gravatar.com/avatar/abfeda2b97425748d69be80636928325?s=80

# Images
images/avatars/
images/captchas/
images/smileys/
images/member_photos/
images/signature_attachments/
images/pm_attachments/

# For security do not publish the following files
system/expressionengine/config/database.php
system/expressionengine/config/config.php

# Caches
sized/
thumbs/
_thumbs/
*/expressionengine/cache/*
